.box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background: url("http://www.blanchisserie-pressing.fr/images/fond-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 100vh;
}

#click {
    display: flex;
    justify-content: space-between;
}

button {
    background: lightblue;
    border-radius: 5px;
}

button:hover,
button:active {
    font-size: 100%;
    background-color: turquoise;
}

#perso1 {
    margin-top: 3em;
    margin-left: -1em;
    position: relative;
    animation: asterix 2s steps(1);
    background: url(asterix-sprite.png);
    background-size: 2000%;
    background-position: -100px 0px;
    height: 200px;
}

#trider {
    margin-top: 3em;
    margin-right: -1em;
    position: relative;
    animation-duration: 7s;
    animation-iteration-count: 2;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%
}

button {
    background: #eee;
    padding: 10px 25px;
    margin-bottom: 15px;
    display: block;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perso1Stats {
    background-color: greenyellow;
}

.TombriderStats {
    background-color: greenyellow;
}

ul {
    padding: 15px;
    margin: 0;
    list-style: none;
}

@keyframes asterix {
    0% {
        background-position: -100px 0px;
    }
    25% {
        background-position: -180px 300px;
    }
    50% {
        background-position: -260px 0px;
    }
    75% {
        background-position: -340px 200px;
    }
    100% {
        background-position: -340px 0px;
    }
}