.box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background: url("http://www.blanchisserie-pressing.fr/images/fond-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 100vh;
}

#click {
    display: flex;
    justify-content: space-between;
}

button {
    background: lightblue;
    border-radius: 5px;
}

button:hover,
button:active {
    font-size: 100%;
    background-color: grey;
}

#monstre {
    margin-top: 3em;
    margin-left: -1em;
    position: relative;
    animation-name: pocaAnim;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 3;
    animation-fill-mode: none;
    animation-play-state: running;
}

#trider {
    margin-top: 3em;
    margin-right: -1em;
    position: relative;
    animation-name: johnAnim;
    animation-duration: 7s;
    animation-iteration-count: 2;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%
}

button {
    background: #eee;
    padding: 10px 25px;
    margin-bottom: 15px;
    display: block;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MonstreStats {
    background-color: greenyellow;
}

.TombriderStats {
    background-color: greenyellow;
}

ul {
    padding: 15px;
    margin: 0;
    list-style: none;
}